<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	
<!-- 此处可以配置多个xml文件。 -->
<!-- 	这个文件用于告诉ContextLoaderListener需要加载哪些配置文件。如果没有指定，上下文加载项会查找/WEB-INF/applicationContext.xml这个配置文件。但是p178 -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath*:/spring-application.xml
	    
	    </param-value>
  	</context-param>
<!--   	ContextLoaderListener是一个selvlet监听器。除了DispatcherServlet创建的应用上下文以外，他能够加载其他的配置文件到spring应用上下文中。 -->
<!--   	为了使用ContextLoaderListener，需要在web.xml文件中添加listener的声明。 -->
  	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>

<!-- 仅仅一个spring-servlet.xml是不够的。若要加载其他的xml文件怎么办？ -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!-- 		没有下面的配置spring-servlet.xml文件位置不好处理 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
<!-- 切记将装xml的resources文件夹加入到编译中来，否则xml文件不会进行编译。-properties-java build path-source-add folder。-->
<!-- 配置servlet，这个servlet冲当springMVC的前端控制器 。相对与一个工具。用于处理下面的请求。-->
<!-- 若没有配init-param。则默认记载spring-servlet.xml。配了则可以更改此默认加载的xml文件的名字。 -->
<!-- DispatcherServlet查询一个或多个handlerMapping。即DispatcherServlet对此xml文件进行初始化。
	将扫描指定包下面的所有标记了@RequestMapping的类或方法。形成映射路径。
	DispatcherServlet将请求路径与映射路径进行对比，找到处理请求的方法。-->
<!-- DispatcherServlet将请求提交到目标Controller。 -->
	
<!-- 	声明上面配的servlet将处理哪些请求，所有请求包括静态资源请求 -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>