<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		id="WebApp_ID" version="2.5">
		
<!-- 运作模式===所有的请求都有过来器拦截。然后交给我们的控制类处理。然后封装数据、跳转页面 这是当初学servlet时处理过滤器的方式-->
	
	<filter>
		<display-name>FilterDispatcher</display-name>
		<filter-name>FilterDispatcher</filter-name>
		<filter-class>net.lampbrother.app.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterDispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>