<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>XMLHtttpRequestDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>controler.ServletTest</servlet-class>
    <init-param id="aaa">
      <param-name>aaa</param-name>
      <param-value>bbb</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/WebServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletRegist</servlet-name>
    <servlet-class>controler.RegistServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletRegist</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
</web-app>