<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean id="loginServiceImp" class="com.zdy.cn.service.imp.LoginServiceImp">
		<property name="loginDaoImp" ref="loginDaoImp"></property>
	</bean>
	<bean id="loginDaoImp" class="com.zdy.cn.dao.imp.LoginDaoImp">
	</bean>
	
	<bean id="duke" class="com.zdy.cn.springidol.Juggler">
	
	</bean>
</beans>